* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  position: relative;
}
header .top-header {
  height: 60px;
  background-color: #21333E;
}
header .display-contact {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .display-contact a {
  color: #C0C3D0;
  text-decoration: none;
}
header .display-contact i {
  padding-right: 5px;
  vertical-align: middle;
}
header .display-contact ul {
  list-style: none;
}
header .display-contact ul li {
  display: inline-block;
  padding: 0 15px;
}
header .bottom-header {
  text-transform: uppercase;
  position: fixed;
  top: 90px;
  width: 100%;
  display: flex;
  z-index: 3;
}
header .bottom-header h1 {
  vertical-align: middle;
  width: 50%;
  display: inline-block;
  color: #BFC2CF;
  cursor: pointer;
}
header .bottom-header h1 span {
  color: #038483;
  padding: 10px;
  background-color: rgba(0, 165, 165, 0.3);
  border-radius: 10px 0 0 10px;
}
header .bottom-header .fixed-link {
  display: inline-block;
  vertical-align: middle;
}
header .bottom-header .fixed-link ul {
  list-style: none;
}
header .bottom-header .fixed-link ul li {
  padding: 5px 10px;
  display: inline-block;
}
header .bottom-header .fixed-link ul li .btn {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
  padding: 15px 25px;
  border-radius: 5px;
}
header .bottom-header .fixed-link ul li .btn-green {
  background-color: #058283;
}
header .bottom-header .fixed-link ul li .btn-green:hover {
  background-color: #00A6A6;
}
header .bottom-header .fixed-link ul li .btn-trasparent {
  border: 2px solid #00A6A6;
}
header .bottom-header .fixed-link ul li .btn-trasparent:hover {
  background-color: #00A6A6;
}
header .bottom-header .fixed-link ul li a {
  color: white;
  text-decoration: none;
}

main .wrapper-main {
  min-height: 670px;
  background-image: url("../img/hero-image.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
main .wrapper-main .lead-customer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
main .wrapper-main .lead-customer .lead-text-button {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main .wrapper-main .lead-customer .lead-text-button h1 {
  padding: 25px 0;
  text-transform: uppercase;
}
main .wrapper-main .lead-customer .lead-text-button h2 {
  padding: 25px 0;
  margin-bottom: 25px;
}
main .wrapper-main .lead-customer .lead-text-button .btn {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
  padding: 15px 25px;
  border-radius: 5px;
}
main .wrapper-main .lead-customer .lead-text-button .btn-green {
  background-color: #058283;
}
main .wrapper-main .lead-customer .lead-text-button .btn-green:hover {
  background-color: #00A6A6;
}
main .wrapper-main .lead-customer .lead-text-button .btn-trasparent {
  border: 2px solid #00A6A6;
}
main .wrapper-main .lead-customer .lead-text-button .btn-trasparent:hover {
  background-color: #00A6A6;
}
main .info {
  height: 600px;
  background-color: #EEF4ED;
}
main .info .first-info {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .info .first-info .first-info-content {
  width: calc(90% / 3);
  height: 300px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
main .about {
  height: 800px;
}
main .about .company-about {
  height: 100%;
  width: 40%;
  margin-left: 10%;
  float: left;
}
main .about img {
  float: right;
  width: 50%;
  height: 100%;
}
main .services {
  height: 1200px;
  background-color: #111117;
}
main .pricing {
  height: 1000px;
  background-color: #EEF4ED;
}
main .last-news {
  height: 800px;
  background-color: #FFFFFF;
}
main .subscribe {
  height: 450px;
  background-image: url("../img/bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
main .form {
  height: 840;
  background-color: #FFFFFF;
}

footer .support-services {
  height: 630px;
  background-color: #111117;
}
footer .support-services .about-services-support {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
footer .support-services .about-services-support .footer-contain {
  height: 340px;
  width: calc(90% / 4);
}
footer .support-services .about-services-support .footer-contain-black {
  height: 340px;
  width: calc(90% / 4);
  background-color: #19191F;
  border-radius: 10px;
}
footer .copyright {
  background-color: #0D0D11;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .copyright span {
  color: #C0C3D0;
}
footer .copyright span:nth-child(2) {
  float: right;
}
footer .copyright span:nth-child(2) a {
  color: #058283;
  text-decoration: none;
}
