* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  width: 65%;
  margin: auto;
}

#wrapper-script {
  font-family: "Poppins", sans-serif;
}

.btn {
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
  padding: 15px 25px;
  border-radius: 5px;
}
.btn-green {
  background-color: #058283;
}
.btn-green:hover {
  background-color: #00A6A6;
}
.btn-trasparent {
  border: 2px solid #00A6A6;
}
.btn-trasparent:hover {
  background-color: #00A6A6;
}

header {
  position: relative;
}
header .top-header {
  height: 60px;
  background-color: #21333E;
}
header .display-contact {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .display-contact a {
  color: #9FA1AC;
  text-decoration: none;
}
header .display-contact a:hover {
  color: #058283;
}
header .display-contact i {
  padding-right: 5px;
  vertical-align: middle;
}
header .display-contact ul {
  list-style: none;
}
header .display-contact ul li {
  display: inline-block;
  padding: 0 15px;
}
header .bottomHeader {
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  z-index: 3;
}
header .bottomHeader h1 {
  vertical-align: middle;
  width: 49%;
  display: inline-block;
  text-transform: uppercase;
  color: #BFC2CF;
  cursor: pointer;
}
header .bottomHeader h1 span {
  color: #038483;
  padding: 5px 20px;
  background-color: rgba(0, 165, 165, 0.3);
  border-radius: 25px 0 0 25px;
  text-shadow: 0.2px 0.2px #000000;
}
header .bottomHeader .fixed-link {
  width: 50.5%;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .bottomHeader .fixed-link ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  height: 100%;
  align-items: center;
}
header .bottomHeader .fixed-link ul li {
  padding: 5px 10px;
  display: inline-block;
  height: 100%;
  line-height: 60px;
  cursor: pointer;
}
header .bottomHeader .fixed-link ul li .btn {
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
  padding: 15px 25px;
  border-radius: 5px;
}
header .bottomHeader .fixed-link ul li .btn-green {
  background-color: #058283;
}
header .bottomHeader .fixed-link ul li .btn-green:hover {
  background-color: #00A6A6;
}
header .bottomHeader .fixed-link ul li .btn-trasparent {
  border: 2px solid #00A6A6;
}
header .bottomHeader .fixed-link ul li .btn-trasparent:hover {
  background-color: #00A6A6;
}
header .bottomHeader .fixed-link ul li:last-child {
  padding-right: 0;
}
header .bottomHeader .fixed-link ul li .btn:hover {
  color: white;
}
header .bottomHeader .fixed-link ul li a {
  color: white;
  text-decoration: none;
}
header .bottomHeader .fixed-link ul li:hover a {
  color: #058283;
}
header .bottomHeader .fixed-link ul li .btn {
  margin-right: 0;
}
header .bottomHeader .container {
  height: 100%;
  display: flex;
  align-items: center;
}
header .bottomHeaderChange {
  transition: 0.5s;
  top: 0;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  z-index: 3;
  background-color: #21333E;
}
header .bottomHeaderChange h1 {
  vertical-align: middle;
  width: 49%;
  display: inline-block;
  text-transform: uppercase;
  color: #BFC2CF;
  cursor: pointer;
}
header .bottomHeaderChange h1 span {
  color: #038483;
  padding: 5px 20px;
  background-color: rgba(0, 165, 165, 0.3);
  border-radius: 25px 0 0 25px;
  text-shadow: 0.2px 0.2px #000000;
}
header .bottomHeaderChange .fixed-link {
  width: 50.5%;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .bottomHeaderChange .fixed-link ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  height: 100%;
  align-items: center;
}
header .bottomHeaderChange .fixed-link ul li {
  padding: 5px 10px;
  display: inline-block;
  height: 100%;
  line-height: 60px;
  cursor: pointer;
}
header .bottomHeaderChange .fixed-link ul li .btn {
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
  padding: 15px 25px;
  border-radius: 5px;
}
header .bottomHeaderChange .fixed-link ul li .btn-green {
  background-color: #058283;
}
header .bottomHeaderChange .fixed-link ul li .btn-green:hover {
  background-color: #00A6A6;
}
header .bottomHeaderChange .fixed-link ul li .btn-trasparent {
  border: 2px solid #00A6A6;
}
header .bottomHeaderChange .fixed-link ul li .btn-trasparent:hover {
  background-color: #00A6A6;
}
header .bottomHeaderChange .fixed-link ul li:last-child {
  padding-right: 0;
}
header .bottomHeaderChange .fixed-link ul li .btn:hover {
  color: white;
}
header .bottomHeaderChange .fixed-link ul li a {
  color: white;
  text-decoration: none;
}
header .bottomHeaderChange .fixed-link ul li:hover a {
  color: #058283;
}
header .bottomHeaderChange .fixed-link ul li .btn {
  margin-right: 0;
}
header .bottomHeaderChange li:last-child {
  padding-right: 0;
}
header .bottomHeaderChange li:last-child:hover {
  background-color: #21333E;
}
header .bottomHeaderChange li:hover {
  background-color: white;
  transition: 0.5s;
}

main h1 {
  font-size: 50px;
}
main .wrapper-main {
  min-height: 885px;
  background-image: url("../img/hero-image.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
main .wrapper-main .lead-customer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
main .wrapper-main .lead-customer .lead-text-button {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main .wrapper-main .lead-customer .lead-text-button h3 {
  color: #9FA1AC;
  width: 60%;
  padding: 25px 0;
  margin-bottom: 25px;
}
main .info {
  height: 600px;
  background-color: #EEF4ED;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .info .first-info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .info .first-info-content {
  padding: 45px;
  width: calc(90% / 3);
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
main .info .first-info-content:hover {
  margin-top: -15px;
  transition: 0.5s;
}
main .info .first-info-content i {
  font-size: 30px;
  color: #058283;
  padding: 15px;
  border-radius: 50%;
  background-color: #DAECED;
}
main .info .first-info-content {
  height: 300px;
}
main .about {
  height: 800px;
  position: relative;
}
main .about::after {
  content: "";
  width: 150px;
  height: 60px;
  background-image: url("../img/texture_point.png");
  background-size: cover;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}
main .about::before {
  content: "";
  width: 150px;
  height: 60px;
  background-image: url("../img/texture_point.png");
  background-size: cover;
  position: absolute;
  bottom: -7.5%;
  right: 42%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}
main .about .company-about {
  padding: 30px 45px 30px 0;
  width: 50%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  color: #BFC2CF;
}
main .about .company-about span {
  color: #038483;
  padding: 5px 20px;
  background-color: rgba(0, 165, 165, 0.3);
  border-radius: 25px 0 0 25px;
  text-shadow: 0.2px 0.2px #000000;
  border-radius: 0;
}
main .about .company-about h1 {
  color: black;
  margin: 20px 0;
}
main .about .company-about p {
  margin: 30px 0;
}
main .about .company-about .mini-contain {
  margin-top: 50px;
  color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .about .company-about .mini-contain .company-mini-contain {
  margin-bottom: 20px;
  width: 50%;
}
main .about .company-about .mini-contain .company-mini-contain h2 {
  vertical-align: middle;
}
main .about .company-about .mini-contain .company-mini-contain i {
  color: #00A6A6;
  font-size: 18px;
  padding-bottom: 20px;
}
main .about .company-about .mini-contain .company-mini-contain p {
  color: #00A6A6;
}
main .about img {
  float: right;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
main .services {
  height: 1200px;
  background-color: #111117;
}
main .services-top {
  padding: 50px 0;
  position: relative;
}
main .services-top-container {
  width: 70%;
  height: 100%;
  color: white;
}
main .services-top-container span {
  padding: 5px 20px;
  background-color: rgba(0, 165, 165, 0.3);
  border-radius: 25px 0 0 25px;
  text-shadow: 0.2px 0.2px #000000;
  border-radius: 0;
}
main .services-top-container h1 {
  margin: 20px 0;
}
main .services-top-container p {
  margin: 30px 0;
  color: #BFC2CF;
}
main .services-top-container p:first-child {
  color: #038483;
}
main .services-top .btn {
  position: absolute;
  bottom: 50px;
  right: 0;
}
main .services-bottom {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}
main .services-bottom-content {
  padding: 45px;
  width: calc(90% / 3);
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
main .services-bottom-content:hover {
  margin-top: -15px;
  transition: 0.5s;
}
main .services-bottom-content i {
  font-size: 30px;
  color: #058283;
  padding: 15px;
  border-radius: 50%;
  background-color: #DAECED;
}
main .services-bottom-content {
  height: 330px;
  padding: 35px;
  margin-bottom: 30px;
  background-color: #19191F;
  justify-content: space-between;
}
main .services-bottom-content:hover p {
  color: white;
}
main .services-bottom-content:hover i {
  color: white;
}
main .services-bottom-content p {
  color: #BFC2CF;
}
main .services-bottom-content .btn {
  margin-left: 0;
}
main .services-bottom-content i {
  background-color: inherit;
}
main .pricing {
  height: 1100px;
  background-color: #EEF4ED;
  text-align: center;
  padding: 100px 0;
  color: #BFC2CF;
}
main .pricing span {
  color: #038483;
  padding: 5px 20px;
  background-color: rgba(0, 165, 165, 0.3);
  border-radius: 25px 0 0 25px;
  text-shadow: 0.2px 0.2px #000000;
  border-radius: 0;
}
main .pricing h1 {
  color: black;
  margin: 20px 0;
}
main .pricing p {
  margin: 30px 0;
}
main .pricing .fa-arrow-right {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 20px;
  font-size: 25px;
  opacity: 0;
}
main .pricing-top {
  width: 60%;
  margin: auto;
}
main .pricing-bottom {
  margin-top: 50px;
  padding: 15px 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}
main .pricing-bottom-content {
  padding: 45px;
  width: calc(90% / 3);
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
main .pricing-bottom-content:hover {
  margin-top: -15px;
  transition: 0.5s;
}
main .pricing-bottom-content i {
  font-size: 30px;
  color: #058283;
  padding: 15px;
  border-radius: 50%;
  background-color: #DAECED;
}
main .pricing-bottom-content {
  align-items: center;
  text-align: center;
  height: 500px;
  position: relative;
}
main .pricing-bottom-content:hover .fa-arrow-right {
  cursor: pointer;
  opacity: 1;
  transition: 0.8s;
}
main .pricing-bottom-content h3 {
  color: #058283;
}
main .pricing-bottom-content h3 span {
  background-color: inherit;
  font-size: 35px;
  padding: 0;
}
main .pricing-bottom-content p {
  margin: 0;
}
main .pricing-bottom-content h2 {
  color: black;
}
main .pricing-bottom-content i {
  font-size: 14px;
  background-color: inherit;
  padding: 0;
  vertical-align: middle;
  line-height: 50px;
}
main .pricing-bottom-content i:first-child {
  font-size: 40px;
}
main .pricing-bottom-content ul {
  width: 100%;
  list-style: none;
}
main .pricing-bottom-content ul li {
  display: flex;
  justify-content: space-between;
}
main .pricing-bottom-content ul li span {
  line-height: 50px;
  background-color: inherit;
  color: #058283;
  padding: 0;
}
main .pricing-bottom .most-popular {
  font-size: 12px;
  color: white;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 15px;
  padding: 5px 20px 5px 10px;
  text-align: left;
  background-color: #00A6A6;
  border-radius: 0 25px 25px 0;
}
main .pricing-bottom-content:nth-child(2) {
  height: 550px;
}
main .last-news {
  height: 800px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #BFC2CF;
}
main .last-news span {
  color: #038483;
  padding: 5px 20px;
  background-color: rgba(0, 165, 165, 0.3);
  border-radius: 25px 0 0 25px;
  text-shadow: 0.2px 0.2px #000000;
  border-radius: 0;
}
main .last-news h1 {
  color: black;
  margin: 20px 0;
}
main .last-news p {
  margin: 30px 0;
}
main .last-news .news-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main .last-news .news-container-content {
  padding: 45px;
  width: calc(90% / 3);
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
main .last-news .news-container-content:hover {
  margin-top: -15px;
  transition: 0.5s;
}
main .last-news .news-container-content i {
  font-size: 30px;
  color: #058283;
  padding: 15px;
  border-radius: 50%;
  background-color: #DAECED;
}
main .last-news .news-container .content {
  cursor: pointer;
}
main .last-news .news-container .content .blur-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
main .last-news .news-container .content-one {
  background-image: url("../img/news-1.jpg");
  height: 360px;
  position: relative;
  background-size: cover;
}
main .last-news .news-container .content-one .content {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  left: 0px;
  border-radius: 5px;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
main .last-news .news-container .content-one .content h2 {
  order: 2;
}
main .last-news .news-container .content-one .content p {
  opacity: 0;
}
main .last-news .news-container .content-one .content p i {
  padding-right: 5px;
  background-color: inherit;
  font-size: 12px;
  color: white;
}
main .last-news .news-container .content-one .content:hover h2 {
  order: 0;
  transition: 0.2s;
}
main .last-news .news-container .content-one .content:hover p {
  opacity: 1;
  transition: 1s;
}
main .last-news .news-container .content-one:hover .blur-content {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: -1;
}
main .last-news .news-container .content-two {
  background-image: url("../img/news-2.jpg");
  height: 360px;
  position: relative;
  background-size: cover;
}
main .last-news .news-container .content-two .content {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  left: 0px;
  border-radius: 5px;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
main .last-news .news-container .content-two .content h2 {
  order: 2;
}
main .last-news .news-container .content-two .content p {
  opacity: 0;
}
main .last-news .news-container .content-two .content p i {
  padding-right: 5px;
  background-color: inherit;
  font-size: 12px;
  color: white;
}
main .last-news .news-container .content-two .content:hover h2 {
  order: 0;
  transition: 0.2s;
}
main .last-news .news-container .content-two .content:hover p {
  opacity: 1;
  transition: 1s;
}
main .last-news .news-container .content-two:hover .blur-content {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: -1;
}
main .last-news .news-container .content-tree {
  background-image: url("../img/news-3.jpg");
  height: 360px;
  position: relative;
  background-size: cover;
}
main .last-news .news-container .content-tree .content {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  left: 0px;
  border-radius: 5px;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
main .last-news .news-container .content-tree .content h2 {
  order: 2;
}
main .last-news .news-container .content-tree .content p {
  opacity: 0;
}
main .last-news .news-container .content-tree .content p i {
  padding-right: 5px;
  background-color: inherit;
  font-size: 12px;
  color: white;
}
main .last-news .news-container .content-tree .content:hover h2 {
  order: 0;
  transition: 0.2s;
}
main .last-news .news-container .content-tree .content:hover p {
  opacity: 1;
  transition: 1s;
}
main .last-news .news-container .content-tree:hover .blur-content {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: -1;
}
main .subscribe {
  height: 450px;
  background-image: url("../img/bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
main .subscribe-half {
  padding: 50px;
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #BFC2CF;
}
main .subscribe-half span {
  color: #038483;
  padding: 5px 20px;
  background-color: rgba(0, 165, 165, 0.3);
  border-radius: 25px 0 0 25px;
  text-shadow: 0.2px 0.2px #000000;
  border-radius: 0;
}
main .subscribe-half h1 {
  color: black;
  margin: 20px 0;
}
main .subscribe-half p {
  margin: 30px 0;
}
main .subscribe-half #subscribe {
  cursor: pointer;
  background-color: #058283;
}
main .subscribe-half #subscribe:hover {
  background-color: #00A6A6;
}
main .subscribe-half input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ECECEC;
  border-radius: 5px;
  border: 0;
}
main .subscribe-half input:focus {
  outline: none;
}
main .subscribe-half .btn {
  width: 30%;
}
main .subscribe-half h1 {
  color: white;
}
main .subscribe-half span {
  color: white;
}
main .subscribe-half p {
  margin: 0;
}
main .subscribe .container {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  display: flex;
}
main .bottom-main-form {
  height: 840px;
  width: 100%;
  background-color: #FFFFFF;
}
main .bottom-main-form .display-form {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  display: flex;
}
main .bottom-main-form .display-form .form-container {
  padding: 40px;
  padding-left: 0;
  width: 60%;
  height: 100%;
  color: #BFC2CF;
}
main .bottom-main-form .display-form .form-container span {
  color: #038483;
  padding: 5px 20px;
  background-color: rgba(0, 165, 165, 0.3);
  border-radius: 25px 0 0 25px;
  text-shadow: 0.2px 0.2px #000000;
  border-radius: 0;
}
main .bottom-main-form .display-form .form-container h1 {
  color: black;
  margin: 20px 0;
}
main .bottom-main-form .display-form .form-container p {
  margin: 30px 0;
}
main .bottom-main-form .display-form .form-container .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .bottom-main-form .display-form .form-container .form #form-message {
  width: 100%;
  height: 150px;
  background-color: #ECECEC;
  border-radius: 5px;
  border: 0;
  resize: none;
}
main .bottom-main-form .display-form .form-container .form #form-message:focus {
  outline: none;
}
main .bottom-main-form .display-form .form-container .form #form-message::-moz-placeholder {
  padding: 10px;
}
main .bottom-main-form .display-form .form-container .form #form-message:-ms-input-placeholder {
  padding: 10px;
}
main .bottom-main-form .display-form .form-container .form #form-message::placeholder {
  padding: 10px;
}
main .bottom-main-form .display-form .form-container .form input {
  padding: 15px;
  width: calc(95% /2);
  margin-bottom: 20px;
  background-color: #ECECEC;
  border-radius: 5px;
  border: 0;
}
main .bottom-main-form .display-form .form-container .form input:focus {
  outline: none;
  font-family: "Poppins", sans-serif;
}
main .bottom-main-form .display-form .form-container .form input:first-child {
  background-image: url("../img/image_1_placeholder.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  cursor: pointer;
}
main .bottom-main-form .display-form .form-container .form select {
  padding: 15px;
  width: calc(95% /2);
  margin-bottom: 20px;
  background-color: #ECECEC;
  border-radius: 5px;
  border: 0;
  color: #9FA1AC;
}
main .bottom-main-form .display-form .form-container .form select:focus {
  outline: none;
}
main .bottom-main-form .display-form .form-container .form select option {
  color: #9FA1AC;
}
main .bottom-main-form .display-form .form-container .form .btn {
  margin-left: 0;
}
main .bottom-main-form .display-form .example-inc {
  width: 39%;
  height: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .bottom-main-form .display-form .example-inc p {
  color: #058283;
}
main .bottom-main-form .display-form .example-inc ul {
  list-style: none;
}
main .bottom-main-form .display-form .example-inc ul li {
  padding: 5px;
}
main .bottom-main-form .display-form .example-inc ul li:last-child i {
  padding: 17px 20px;
}
main .bottom-main-form .display-form .example-inc ul li a {
  text-decoration: none;
  color: #058283;
}
main .bottom-main-form .display-form .example-inc ul li a i {
  padding: 15px;
  font-size: 20px;
  background-color: #DAECED;
  border-radius: 50%;
  margin-right: 10px;
}
main .bottom-main-form .display-form .example-inc ul li a:hover {
  color: #00A6A6;
}
main .bottom-main-form .display-form .example-inc .btn {
  color: #058283;
  width: 40%;
}
main .bottom-main-form .display-form .example-inc .btn:hover {
  color: white;
}

footer .support-services {
  height: 630px;
  background-color: #111117;
}
footer .support-services .about-services-support {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
footer .support-services .about-services-support .footer-contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 340px;
  width: calc(90% / 4);
}
footer .support-services .about-services-support .footer-contain .btn {
  margin-left: 0;
  width: 65%;
}
footer .support-services .about-services-support .footer-contain p {
  color: #9FA1AC;
}
footer .support-services .about-services-support .footer-contain h1 {
  text-transform: uppercase;
  color: #BFC2CF;
  cursor: pointer;
}
footer .support-services .about-services-support .footer-contain h1 span {
  color: #038483;
  padding: 5px 20px;
  background-color: rgba(0, 165, 165, 0.3);
  border-radius: 25px 0 0 25px;
  text-shadow: 0.2px 0.2px #000000;
}
footer .support-services .about-services-support .footer-contain ul {
  list-style: none;
}
footer .support-services .about-services-support .footer-contain ul li {
  padding: 5px 0;
}
footer .support-services .about-services-support .footer-contain ul li a {
  text-decoration: none;
  color: #9FA1AC;
}
footer .support-services .about-services-support .footer-contain ul li a i {
  margin-right: 10px;
}
footer .support-services .about-services-support .footer-contain ul li a:hover {
  color: #058283;
}
footer .support-services .about-services-support .footer-contain-black {
  padding: 20px;
  height: 340px;
  width: calc(90% / 4);
  background-color: #19191F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .support-services .about-services-support .footer-contain-black:hover {
  margin-top: -15px;
  transition: 0.5s;
}
footer .support-services .about-services-support .footer-contain-black ul {
  list-style: none;
}
footer .support-services .about-services-support .footer-contain-black ul li {
  padding: 5px;
}
footer .support-services .about-services-support .footer-contain-black ul li a {
  color: #9FA1AC;
  text-decoration: none;
}
footer .support-services .about-services-support .footer-contain-black ul li a:hover {
  color: #058283;
}
footer .copyright {
  background-color: #0D0D11;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .copyright span {
  color: #9FA1AC;
}
footer .copyright span:nth-child(2) {
  float: right;
}
footer .copyright span:nth-child(2) a {
  color: #058283;
  text-decoration: none;
}
footer .fixed-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
footer .fixed-arrow a {
  color: #C1C1C1;
}
footer .fixed-arrow a i {
  font-size: 20px;
  padding: 20px;
  border-radius: 50%;
  background-color: #19191C;
}
