footer {
  .support-services{
    height: 630px;
    background-color: #111117;
    .about-services-support {
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .footer-contain {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 340px;
        width: calc(90% / 4);
        .btn {
          margin-left: 0;
          width: 65%;
        }
        p {
          color: $contactColor;
        }
        h1 {
          @include companyLogoStile;
        }
        ul {
          list-style: none;
          li {
            padding: 5px 0;
            a {
              text-decoration: none;
              color: $contactColor;
              &:hover {
                color:$brandColor
              }
            }
          }
        }
        &-black {
          padding: 20px;
          height: 340px;
          width: calc(90% / 4);
          background-color: #19191F;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          ul {
            list-style: none;
            li {
              padding: 5px;
              a {
                color: $contactColor;
                text-decoration: none;
                &:hover {
                  color:$brandColor
                }
              }
            }
          }
        }
      }
    }
  }
  .copyright {
    background-color: #0D0D11;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      color: $contactColor;
      &:nth-child(2) {
        float: right;
        a {
          color: $brandColor;
          text-decoration: none;
        }
      }
    }
  }

  .fixed-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    a {
      color: #C1C1C1;
      i {
        font-size: 20px;
        padding: 20px;
        border-radius: 50%;
        background-color: #19191C;
      }
    }
  }

}
