header {
  position: relative;
  .top-header {
    height: 60px;
    background-color: #21333E;
  }
  .display-contact{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: $contactColor;
      text-decoration: none;
      &:hover {
        color:$brandColor
      }
    }
    i {
      padding-right:5px;
      vertical-align: middle;
    }
    ul {
      list-style: none;
      li {
        display: inline-block;
        padding: 0 15px;
      }
    }
  }
  .bottomHeader {
    @include fixedBarChange;
    &Change {
      transition: 0.5s;
      top: 0;
      @include fixedBarChange;
      background-color: #21333E;
    }
  }

}
