main {
  h1 {
    font-size: 50px;
  }
  // top main
  .wrapper-main {
    min-height: 885px;
    background-image: url($topWrapperMainBackground) ;
    @include backGroundPosition;
    background-size: cover;
    position: relative;
    .lead-customer{
      @include imageAlphaContainer;
      .lead-text-button {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h3 {
          color: $contactColor;
          width: 60%;
          padding: 25px 0;
          margin-bottom: 25px;
        }
      @include buttonBrandStile
      }
    }
  }

  // info
  .info{
    height: 600px;
    background-color: #EEF4ED;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .first-info {
      @include containerForElement;
      &-content{
        height: 300px;
      }
    }
  }

  .about {
    height: 800px;
    .company-about {
      padding: 30px 45px 30px 0;
      width: 50%;
      height: 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      float: left;
      @include companyMainTextStile;
      .mini-contain {
        margin-top: 50px;
        color: black;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .company-mini-contain {
          margin-bottom: 20px;
          width: 50%;
          h2 {
            vertical-align: middle;
          }
          i {
            color: $trasparentBrandColor;
            font-size: 18px;
            padding-bottom: 20px;
          }
          p {
            color: $trasparentBrandColor;
          }
        }
      }
    }
    img {
      float: right;
      width: 50%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  .services {
    height: 1200px;
    background-color: #111117
  }

  .pricing {
    height: 1100px;
    background-color: #EEF4ED;
    text-align: center;
    padding: 100px 0;
    @include companyMainTextStile;
    &-top{
      width: 60%;
      margin: auto;
    }
    &-bottom {
      margin-top: 50px;
      padding: 15px 0;
      @include containerForElement;
      height: 600px;
      &-content {
        height: 500px;
      }
      &-content:nth-child(2){
        height: 600px;
      }
    }
  }

  .last-news {
    height: 800px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include companyMainTextStile;
    .news-container{
      @include containerForElement;
      width: 100%;
      .content {
        &-one {
          background-image: url($contentOne);
          @include newsContainerOrder;
        }
        &-two {
          background-image: url($contentTwo);
          @include newsContainerOrder;
        }
        &-tree {
          background-image: url($contentTree);
          @include newsContainerOrder;
        }
      }
    }
  }

  .subscribe {
    height: 450px;
    background-image: url($formSubscribe);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @include buttonBrandStile;
    &-half {
      padding: 50px;
      width: 49%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include companyMainTextStile;
      input {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        background-color: #ECECEC;
        border-radius: 5px;
        border: 0;
        &:focus {
          outline: none;
        }
      }
      .btn {
        width: 30%;
      }
      h1 {
        color: white;
      }
      span {
        color: white;
      }
      p {
        margin: 0;
      }
    }
    .container {
      padding-top: 100px;
      padding-bottom: 100px;
      height: 100%;
      display: flex;
    }
  }

  .bottom-main-form {
    height: 840px;
    width: 100%;
    background-color: #FFFFFF;
    .display-form {
      padding-top: 100px;
      padding-bottom: 100px;
      height: 100%;
      display: flex;
      .form-container {
        padding: 40px;
        padding-left: 0;
        width: 60%;
        height: 100%;
        @include companyMainTextStile;
        .form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          #form-message {
            width: 100%;
            height: 150px;
            background-color: #ECECEC;
            border-radius: 5px;
            border: 0;
            &:focus {
              outline: none;
            }
          }
          input {
            padding: 15px;
            width: calc(95% /2);
            margin-bottom: 20px;
            background-color: #ECECEC;
            border-radius: 5px;
            border: 0;
            &:focus {
              outline: none;
            }
          }
          select {
            padding: 15px;
            width: calc(95% /2);
            margin-bottom: 20px;
            background-color: #ECECEC;
            border-radius: 5px;
            border: 0;
            &:focus {
              outline: none;
            }
          }
          @include buttonBrandStile;
          .btn {
            margin-left: 0;
          }
        }
      }
      .example-inc {
        width: 39%;
        height: 100%;
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          color: $brandColor;
        }
        ul {
          list-style: none;
          li {
            padding: 5px;
            a {
              i {
                padding: 10px;
                font-size: 20px;
                background-color: $secondTrasparentBrand;
                border-radius: 50%;
              }
              text-decoration: none;
              color: $brandColor;
            }
          }
        }
        @include buttonBrandStile;
        .btn {
          color: $brandColor;
          width: 40%;
        }
      }
    }
  }



}
